.body {
    width: 90%;
    min-height: 600px;
    margin: 0 auto;
    background-image: url("body.jpg");
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000000;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    background-position:  center center;
    background-repeat: no-repeat;
    background-image: url("header.jpg");
    height: 120px;
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    float: right;
    position: absolute;
    top: 15px;
    right: 30px;
    color: #000066;
    text-shadow: 2px 2px 4px #6666ff;
}

.header p {
    position: absolute;
    margin-left: 30px;
    float: left;
    top: 30px;
    left: 480px;
}

.logout {
    position: absolute;
    float: left;
    top: 45px;
    left: 650px;
}

.table {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.table th {
    background-color: #ccccff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
}

.table td img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.table tr:nth-child(odd) {
    background-color: hsl(240, 22%, 90%);
}

.table tr:hover {
    background-color: #b3b3ff;
}

.table td:first-child {
    font-weight: bold;
}

.table tr:last-child {
    font-weight: bold;
    font-size: 32px;
    background-color: #4848c5;
}

.fin {
    margin-top: 70px;
    font-size: 32px;
    text-align: center;
}

.fin a {
    text-decoration: none;
}

.back:link, .back:visited {
    background-color: #86caf1;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
  
.back:hover, .back:active {
    background-color: rgba(4, 2, 122, 0.623);
}

.fin img {
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
}